<!doctype html>
<html lang="en">
<head>
    <title>EO.Finance</title>
    <base href="./">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0">
    <style>
        html {
            height: 100%;
        }

        body {
        	margin: 0;
            height: 100%;
            background-color: #FBFAFF;
            background-image: linear-gradient(to bottom, #FBFAFF, #F5F3FD);
            min-width: 357px;
            min-height: 596px;
        }

        * {
            user-select: none;
        }

        #app {
            height: 100%;
            display: flex;
        }

        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 2px;
            right: 2px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: #008273;
            -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3);
        }
    </style>
</head>
<body>
<main id="app"></main>
<script src="{{{publicPath}}}app.js"></script>
</body>
</html>
